
html, body{
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	color: #222;
}
.navbar{
	padding: .8rem;
}
.navbar-nav li{
	padding-right: 20px;
}
.navbar-nav li a{
	text-transform: uppercase;
}
.nav-link{
	font-size: 1.1em ! important;
}
.carousel-inner img{
	width: 100%;
	height: 100%;
}
.carousel-caption{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.carousel-caption h1{
	font-size: 500%;
	text-transform: uppercase;
	text-shadow: 1px 1px 10px #000;
}
.carousel-caption h3{
	font-size: 200%;
	font-weight: 500;
	text-shadow: 1px 1px 10px #000;
	padding-bottom: 1rem;
}
.btn-primary{
	background-color: #6648b1;
	border: 1px solid  #6648b1;
}
.btn-primary:hover{
	background-color: #563d7c;
	border: 1px solid #563d7c;
}
/*jumbotron*/
.jumbotron{
	padding: 1rem;
	border-radius: 2rem;
}
.padding{
	padding-bottom: 2rem;
}
.welcome{
	width: 75%;
	margin: 0 auto;
	padding-top: 2rem;
}
.welcome hr{
	border-top: 2px solid #b4b4b4;
	width: 95%;
	margin-top: .3rem;
	margin-bottom: 1rem;
}
.facode-img{
	height: 40px;
	color: blue;
	margin: 1rem;
}
.fun{
	width: 100%;
	margin-bottom: 2rem;
}
.desk{
	width: 450px;
	height: 300px;
	border: 30px solid grey;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
.gif{
	max-width: 80%;
}
.social-img{
	width: 70px;
	height: 70px;
}
.social a{
	font-size: 4.5em;
	padding: 3rem;
}
.social-img:hover{
	transform: translateY(-10px);
	border: 5px solid #5f1782;
	border-radius: 10px;
}
footer{
	background-color: #3f3f3f;
	color: #d5d5d5;
	padding-top: 2rem;
}
.newbie-img{
	width: 100px;
	height: 50px;
}
hr.light{
	border-top: 1px solid #d5d5d5;
	width: 75%;
	margin-top: .8rem;
	margin-bottom: 1rem;
}
footer a{
	color: #d5d5d5;
}
hr.light-100{
	border-top: 1px solid #d5d5d5;
	width: 100%;
	margin-top: .8rem;
	margin-bottom: 1rem;
}
/*media queries*/
@media (max-width: 992px) {
	.social a{
		font-size: 4em;
		padding: 2rem;
	}
 
}

@media (max-width: 768px) {
	.carousel-caption{
	top: 45%;	
}
.carousel-caption h1{
	font-size: 350%;
}
.carousel-caption h3{
	font-size: 140%;
	font-weight: 400;
	padding-bottom: .2rem;
}
.carousel-caption .btn{
	font-size: 95%;
	padding: 8px 14px;
}
.display-4{
	font-size: 200%;
         
}
	.social a{
		font-size: 2.5em;
		padding: 1.2rem;
	}
}

@media (max-width: 576px) {
		.carousel-caption{
	top: 40%;	
}
.carousel-caption h1{
	font-size: 250%;
}
.carousel-caption h3{
	font-size: 110%;
}
.carousel-caption .btn{
	font-size: 90%;
	padding: 4px 8px;
}
.carousel-indicators{
	display: none;
}
.display-4{
	font-size: 160%;
         
}
	.social a{
		font-size: 2em;
		padding: .7rem;
	}

/*firefox bug flex*/
.carousel-item{
	transition: -webkikt-transform 0.5s ease;
	transition: transform 0.5s ease;
	transition: transform o.5s ease, -webkikt-transform 0.5s ease;
	-webkit-backface-visibility:visible;
	backface-visibility: visible;
}
/*figure*/
figure{
	position: relative;
	width: 100%;
	height: 60%;
	margin: 0! important;
}
.fixed-wrap{
	clip:rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#fixed{
	background-image: url('img/mac.jpg');
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
	        transform: translateZ(0);
	will-change: transform;
}